gui:
  # sidePanelWidth: 0.2 # gives you more space to show things side-by-side
  theme:
    activeBorderColor:
      - "#1e66f5"
      - bold
    inactiveBorderColor:
      - "#6c6f85"
    optionsTextColor:
      - "#1e66f5"
    selectedLineBgColor:
      - "#ccd0da"
    cherryPickedCommitBgColor:
      - "#bcc0cc"
    cherryPickedCommitFgColor:
      - "#1e66f5"
    unstagedChangesColor:
      - "#d20f39"
    defaultFgColor:
      - "#4c4f69"
    searchingActiveBorderColor:
      - "#df8e1d"
  authorColors:
    "*": "#7287fd"
git:
  pagers:
    - pager: delta --paging=never --line-numbers --config delta.side-by-side=false
