"" Source your .vimrc
""" Plugins  --------------------------------
set easymotion
set commentary
set exchange
set multiple-cursors
set highlightedyank
set sneak
set matchit
set argtextobj
set NERDTree
set visualbell
set noerrorbells
set which-key
set functiontextobj
set indent-object
set textobj-entire

" disable the timeout option
set notimeout

" increase the timeoutlen (default: 1000), don't add space around the equal sign =
"set timeoutlen=3000
""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"
let mapleader=" "
set clipboard+=unnamedplus,unnamed,ideaput
" set handler <c-k> a:vim
" set handler <c-j> a:vim
"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
""" Idea specific settings ------------------
set ideajoin
"set ideastatusicon=gray
set ideastatusicon=disabled
set idearefactormode=keep

" Find more examples here: https://jb.gg/share-ideavimrc
set ignorecase
set hlsearch
set showmode
set incsearch
set scrolloff=10
set history=1000
set surround
" Do incremental searching.
set relativenumber
set number
set smartcase
set showcmd
" jump between angle brackets
set matchpairs+=<:>

""" Mappings --------------------------------
" paste over without overwriting default register
xnoremap p P
nnoremap <leader>h :nohlsearch<CR>
nnoremap Y y$
vnoremap <leader>p "_dP
" go to the left split
nnoremap <C-h> <C-w>h
" go to the bottom split
nnoremap <C-j> <C-w>j
" go to the top split
nnoremap <C-k> <C-w>k
" go to the right split
nnoremap <C-l> <C-w>l
"move visual block
xnoremap J :action MoveLineDown<CR>
xnoremap K :action MoveLineUp<CR>
" go to start of line
nnoremap H ^
" go to end of line
nnoremap L g_
" select next occurrence
vnoremap <C-n> :action SelectNextOccurrence<CR>
" select all occurrences
vnoremap <C-S-n> :action SelectAllOccurrences<CR>
" select all text
nnoremap <c-a> gg<S-v>G
"Put search results in the middle of screen
nnoremap n nzz
nnoremap N Nzz
"Some search and replace shorcouts
nnoremap <leader>rr :%s//g<Left><Left>
xnoremap <leader>rr :s//g<Left><Left>
"open recent project dialog box
nnoremap <leader><leader>m :action ManageRecentProjects<CR>

"go back
"nmap <leader><leader> <c-^>

"NERDTree
nnoremap <leader>e :NERDTreeToggle<CR>
nnoremap <leader>_ :NERDTreeFocus<CR>
" reload vimrc
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>
"save file
"nnoremap <leader>w :w!<CR>
nnoremap <C-s> :action SaveAll<CR>

"-------- Window management --------
nnoremap <leader>\| :action SplitVertically<CR>
nnoremap <leader>- :action SplitHorizontally<CR>
nnoremap <leader>mw :action Unsplit<CR>
nnoremap <leader>ma :action UnsplitAll<CR>
"-------- Source code navigation --------
nnoremap <leader>fC :action GotoClass<CR>
nnoremap <leader>fF :action GotoFile<CR>
nnoremap <leader>sS :action GotoSymbol<CR>
nnoremap <leader>sA :action GotoAction<CR>
nnoremap <leader>gl :action GotoLine<CR>

nnoremap gD :action GotoDeclaration<CR>
nnoremap gy :action GotoTypeDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gt :action GotoTest<CR>
nnoremap gm :action GotoSuperMethod<CR>
nnoremap gpd :action QuickImplementations<CR>
nnoremap K :action QuickJavaDoc<CR>
" find references
nnoremap <leader>gr :action FindUsages<CR>
nnoremap gr :action ShowUsages<CR>
nnoremap <leader>sh :action ShowHoverInfo<CR>
nnoremap <leader>ss :action FileStructurePopup<CR>
nnoremap <leader>ch :action CallHierarchy<CR>
nnoremap <leader>gh  :action LocalHistory.ShowHistory<CR>

nnoremap gc :action CommentByLineComment<CR>
nnoremap gb :action CommentByBlockComment<CR>


"-------- Find and Replace ---------
nnoremap <S-f> :action Find<CR>
nnoremap <S-r> :action Replace<CR>
"nnoremap <leader>sg :action FindInPath<CR>
nnoremap <leader>sr :action ReplaceInPath<CR>

"-------- Refactoring ---------
nnoremap <leader>cr :action RenameElement<CR>
nnoremap <leader>rf :action ExtractMethod<CR>
nnoremap <leader>rx :action IntroduceVariable<CR>
nnoremap <leader>rF :action IntroduceField<CR>
nnoremap <leader>rc :action IntroduceConstant<CR>
nnoremap <leader>rp :action IntroduceParameter<CR>
nnoremap <leader>rcs :action ChangeSignature<CR>
nnoremap <leader>rql :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>ri :action Inline<CR>
nnoremap <leader>rm :action Move<CR>
nnoremap <leader>ry :action CopyElement<CR>

"-------- Editing ---------
"code actions
nnoremap <leader>ca :action ShowIntentionActions<CR>
vnoremap gsA :action SurroundWith<CR>
nnoremap <S-space> :action Generate<CR>
inoremap <C-]> :action EditorCompleteStatement<CR>

"-------- Jumping ---------
nnoremap ]e :action GotoNextError<CR>
nnoremap [e :action GotoPreviousError<CR>
"toggle line diagnostics
nnoremap <leader>cd :action ShowErrorDescription<CR>
nnoremap ]v :action VcsShowNextChangeMarker<CR>
nnoremap [v :action VcsShowPrevChangeMarker<CR>
nnoremap [c :action JumpToLastChange<CR>
nnoremap ]c :action JumpToNextChange<CR>
nnoremap <leader>ll :action RecentLocations<CR>
"nnoremap <leader>fR :action RecentFiles<CR>
nnoremap <C-i> :action Forward<CR>
nnoremap <C-o> :action Back<CR>
nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>
"nnoremap <Tab> :action NextTab<CR>
"nnoremap <S-Tab> :action PreviousTab<CR>

"-------- Code Style ---------
nmap <leader>cf <Action>(ReformatCode)\|<Action>(RearrangeCode)
nnoremap <leader>Jo :action OptimizeImports<CR>
"nnoremap <leader>cF :action RearrangeCode<CR>" Organice Code

"-------- Moving Code ---------
map <C-S-j> <Action>(MoveStatementDown)
map <C-S-k> <Action>(MoveStatementUp)
nmap <leader>cap <Action>(CopyAbsolutePath)
nmap <leader>cn <Action>(CopyFileName)
nmap <leader>cp <Action>(CopyContentRootPath)

"-------- File Management ---------
nmap <leader>fn <Action>(NewScratchFile)
nmap <leader>wq <Action>(CloseContent)
"map <leader>-
nmap <leader>wo <Action>(CloseAllEditors)
nmap <leader>nf <Action>(NewFile)
nmap <leader>nd <Action>(NewDir)
nmap <leader>cR <Action>(RenameFile)
nmap <leader>of <Action>(OpenFile)
nmap <leader>rs <Action>(RestartIde)
nmap <C-S-h> <Action>(MoveEditorToOppositeTabGroup)
nmap <leader>w\| <Action>(MaximizeEditorInSplit)
nmap <leader>w_ <Action>(MaximizeEditorInSplit)
nmap <leader>w= <Action>(MaximizeEditorInSplit)
nmap <C-=> <Action>(EditorSelectWord)
"nmap <leader>fb <Action>(Switcher)
nmap <leader>b <Action>(ShowNavBar)

"-------- easymotion ---------
nmap <leader>j <Plug>(easymotion-s2)
nmap <leader>k <Plug>(easymotion-F2)

" Use 'm' instead - functiontextobj
"nmap im <Plug>InnerFunction
"map af <Plug>OuterFunction

nnoremap <leader>wn :action EditSourceInNewWindow<CR>
nnoremap <leader>n :action NextWindow<CR>
nnoremap <leader>bd :q!<CR>
inoremap jj <Esc>
nnoremap <leader>uz :action ToggleDistractionFreeMode<CR>
nnoremap <C-/> :action ActivateTerminalToolWindow<CR>
nnoremap <leader>t :action Terminal.OpenInTerminal<CR>


vnoremap < <gv
vnoremap > >gv
vnoremap = =gv
nnoremap zc :action CollapseRegion<CR>
nnoremap zo :action ExpandRegion<CR>
nnoremap zM :action CollapseAllRegions<CR>
nnoremap zR :action ExpandAllRegions<CR>

nnoremap <c-p> :action JumpToLastWindow<CR>
nnoremap <c-x> :action HideAllWindows<CR>


" Debugging
nnoremap ,r :action ContextRun<CR>
nnoremap <leader>Jc :action RunClass<CR>
nnoremap <leader>dC :action ChooseRunConfiguration<CR>
nnoremap ,t :action ActivateRunToolWindow<CR>
nnoremap ,u :action Rerun<CR>
nnoremap ,f :action RerunFailedTests<CR>

nnoremap <leader>db :action ToggleLineBreakpoint<CR>
nnoremap <leader>dO :action StepOver<CR>
nnoremap <leader>do :action StepOut<CR>
nnoremap <leader>di :action StepInto<CR>
nnoremap <leader>dc :action Resume<CR>
vnoremap <leader>de :action EvaluateExpression<CR>

nnoremap ,d :action ContextDebug<CR>
nnoremap ,n :action ActivateDebugToolWindow<CR>

" Scape characters
xnoremap <leader>ec :action com.materkey.codepoints.ToCodePointsConverter<CR>
imap <C-j> <Action>(com.github.continuedev.continueintellijextension.autocomplete.AcceptAutocompleteAction)
imap <C-y> <Action>(EditorChooseLookupItem)
"Surround as lazy-vim
nmap gsr <Plug>CSurround
nmap gsd <Plug>DSurround
xmap gsa <Plug>VSurround

nmap <leader>ff <Action>(com.fuzzyfilesearch.SearchInProjectPath)
nmap <leader>fR <Action>(com.fuzzyfilesearch.SearchInRecentFiles)
nmap <leader>fb <Action>(com.fuzzyfilesearch.BufSearch)
"nmap <Leader>ff <action>(com.mituuz.fuzzier.Fuzzier)
nmap <Leader>fm <action>(com.mituuz.fuzzier.FuzzyMover)
nmap <Leader>fg <action>(com.mituuz.fuzzier.FuzzierVCS)
nmap <Leader>sg <action>(com.mituuz.fuzzier.FuzzyGrep)