"" Source your .vimrc
""" Plugins  --------------------------------
set easymotion
set commentary
set exchange
set multiple-cursors
set highlightedyank
set sneak
set matchit
set argtextobj
set NERDTree
set visualbell
set noerrorbells
set which-key
set functiontextobj

" disable the timeout option
set notimeout

" increase the timeoutlen (default: 1000), don't add space around the equal sign =
"set timeoutlen=3000
""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"
let mapleader=" "
set clipboard+=unnamedplus,unnamed,ideaput
" set handler <c-k> a:vim
" set handler <c-j> a:vim
"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
""" Idea specific settings ------------------
set ideajoin
"set ideastatusicon=gray
set ideastatusicon=disabled
set idearefactormode=keep

" Find more examples here: https://jb.gg/share-ideavimrc
set ignorecase
set hlsearch
set showmode
set incsearch
set scrolloff=10
set history=1000
set surround
" Do incremental searching.
set relativenumber
set number
set smartcase
set showcmd
" jump between angle brackets
set matchpairs+=<:>

""" Mappings --------------------------------
" paste over without overwriting default register
xnoremap p P
nnoremap <leader>h :nohlsearch<CR>
nnoremap Y y$
vnoremap <leader>p "_dP
" go to the left split
map <A-h> <C-w>h
" go to the bottom split
map <A-j> <C-w>j
" go to the top split
map <A-k> <C-w>k
" go to the right split
map <A-l> <C-w>l
"move visual block
vnoremap <S-Down> :m '>+1<CR>
vnoremap <S-Up> :m '>-2<CR>
" go to start of line
nnoremap H ^
" go to end of line
nnoremap L g_
" select next occurrence
vnoremap <C-n> :action SelectNextOccurrence<CR>
" select all occurrences
vnoremap <C-S-n> :action SelectAllOccurrences<CR>
" select all text
nnoremap <c-a> gg<S-v>G
"Put search results in the middle of screen
nnoremap n nzz
nnoremap N Nzz
"Some search and replace shorcouts
nnoremap <leader><leader>r :%s//g<Left><Left>
xnoremap <leader><leader>r :s//g<Left><Left>
"open recent project dialog box
nnoremap <leader><leader>m :action ManageRecentProjects<CR>

"go back
"nmap <leader><leader> <c-^>

"NERDTree
nmap <c-e> :NERDTreeToggle<CR>
nmap <leader>;n :NERDTreeFocus<CR>
" reload vimrc
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>
"save file
"nnoremap <leader>w :w!<CR>
map <leader>w <Action>(SaveAll)

"-------- Window management --------
map <leader>mv <Action>(SplitVertically)
map <leader>mh <Action>(SplitHorizontally)
map <leader>mw <Action>(Unsplit)
map <leader>ma <Action>(UnsplitAll)
"-------- Source code navigation --------
map <leader>sc <Action>(GotoClass)
map <leader>sf <Action>(GotoFile)
map <leader>ss <Action>(GotoSymbol)
map <leader>sa <Action>(GotoAction)
map <leader>gd <Action>(GotoDeclaration)
map <leader>gy <Action>(GotoTypeDeclaration)
map <leader>gi <Action>(GotoImplementation)
map <leader>gt <Action>(GotoTest)
map <leader>gm <Action>(GotoSuperMethod)
map <leader>gl <Action>(GotoLine)

map <leader>ug <Action>(FindUsages)
map <leader>uu <Action>(ShowUsages)
map <leader>vs <Action>(ViewSource)
map <leader>im <Action>(QuickImplementations)
map <leader>td <Action>(QuickTypeDefinition)
map <leader>ti <Action>(ExpressionTypeInfo)
map <leader>sh <Action>(ShowHoverInfo)
map <leader>oo <Action>(FileStructurePopup)

map <leader>s <Action>(GotoRelated)
map <leader>ch <Action>(CallHierarchy)

map <leader>lh  <Action>(LocalHistory.ShowHistory)

map gc <Action>(CommentByLineComment)
map gb <Action>(CommentByBlockComment)
map K <Action>(QuickJavaDoc)


"-------- Find and Replace ---------
map <S-f> <Action>(Find)
map <S-r> <Action>(Replace)
map <leader>ff <Action>(FindInPath)
map <leader>fr <Action>(ReplaceInPath)

"-------- Refactoring ---------
map <leader>rn <Action>(RenameElement)
map <leader>rm <Action>(ExtractMethod)
map <leader>rv <Action>(IntroduceVariable)
map <leader>rf <Action>(IntroduceField)
map <leader>rc <Action>(IntroduceConstant)
map <leader>rp <Action>(IntroduceParameter)
map <leader>rs <Action>(ChangeSignature)
map <leader>rr <Action>(Refactorings.QuickListPopupAction)
nmap <leader>in <Action>(Inline)
nmap <leader>mm <Action>(Move)
map <leader>ry <Action>(CopyElement)

"-------- Editing ---------
map <leader>aa <Action>(ShowIntentionActions)
map <leader>sw <Action>(SurroundWith)
map <S-space> <Action>(Generate)
"map <S-k> <Action>(EditorDuplicateLines)
imap <C-]> <Action>(EditorCompleteStatement)

"-------- Jumping ---------
map <leader>en <Action>(GotoNextError)
map <leader>ep <Action>(GotoPreviousError)
map <leader>se <Action>(ShowErrorDescription)
map <leader>vn <Action>(VcsShowNextChangeMarker)
map <leader>vp <Action>(VcsShowPrevChangeMarker)
map <leader>lc <Action>(JumpToLastChange)
map <leader>jn <Action>(JumpToNextChange)
map <leader>ll <Action>(RecentLocations)
map ,o <Action>(RecentFiles)
map <C-i> <Action>(Forward)
map <C-o> <Action>(Back)
map [[ <Action>(MethodUp)
map ]] <Action>(MethodDown)
"map <leader>nn <Action>(NextTab)
"map <leader>pp <Action>(PreviousTab)

"-------- Code Style ---------
map <leader><leader> <Action>(ReformatCode)
map <leader>oi <Action>(OptimizeImports)
map <leader>ra <Action>(RearrangeCode)

"-------- Moving Code ---------
map <C-j> <Action>(MoveLineDown)
map <C-k> <Action>(MoveLineUp)
map <C-S-j> <Action>(MoveStatementDown)
map <C-S-k> <Action>(MoveStatementUp)
map <leader>ca <Action>(CopyAbsolutePath)
map <leader>cn <Action>(CopyFileName)
map <leader>cp <Action>(CopyContentRootPath)

"-------- File Management ---------
map <leader>fs <Action>(NewScratchFile)
map <leader>qq <Action>(CloseContent)
"map <leader>-
map <leader>qa <Action>(CloseAllEditors)
map <leader>nf <Action>(NewFile)
map <leader>nd <Action>(NewDir)
map <leader>re <Action>(RenameFile)
map <leader>of <Action>(OpenFile)
map <leader>ri <Action>(RestartIde)
map <C-S-m> <Action>(MoveEditorToOppositeTabGroup)
map <C-m> <Action>(MaximizeEditorInSplit)
map <C-=> <Action>(EditorSelectWord)
map \\ <Action>(Switcher)
map <leader>b <Action>(ShowNavBar)

"-------- easymotion ---------
map <leader>j <Plug>(easymotion-s2)
map <leader>k <Plug>(easymotion-F2)

" Use 'm' instead - functiontextobj
"map im <Plug>InnerFunction
map am <Plug>OuterFunction

"nnoremap <leader>en :action EditSourceInNewWindow<CR>
"nnoremap <leader>n :action NextWindow<CR>
"nnoremap <leader>q :action CloseEditor<CR>

imap jj <Esc>
nnoremap <C-z> :action ToggleDistractionFreeMode<CR>
nnoremap <C-t> :action ActivateTerminalToolWindow<CR>
nnoremap <leader>t :action Terminal.OpenInTerminal<CR>


vnoremap < <gv
vnoremap > >gv
vnoremap = =gv
nnoremap zc :action CollapseRegion<CR>
nnoremap zo :action ExpandRegion<CR>
nnoremap <leader>zc :action CollapseAllRegions<CR>
nnoremap <leader>zo :action ExpandAllRegions<CR>

nnoremap <c-p> :action JumpToLastWindow<CR>
nnoremap <c-x> :action HideAllWindows<CR>


" Debugging
nnoremap ,r :action ContextRun<CR>
nnoremap ,c :action RunClass<CR>
nnoremap ,f :action ChooseRunConfiguration<CR>
nnoremap ,t :action ActivateRunToolWindow<CR>
nnoremap ,u :action Rerun<CR>
nnoremap ,f :action RerunFailedTests<CR>

nnoremap ,b :action ToggleLineBreakpoint<CR>
nnoremap ,d :action ContextDebug<CR>
nnoremap ,n :action ActivateDebugToolWindow<CR>

" Scape characters
xmap <leader>sc :action com.materkey.codepoints.ToCodePointsConverter<CR>